* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1d9581;
    font-family: Arial, sans-serif;
}

.title {
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
}
.game-container {
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;

}

canvas {
    border: 2px solid rgb(207, 17, 17);
    border-radius: 10px;
    background-color: rgb(255, 255, 255);

}
